body {
    font-family: 'Open Sans', Arial, sans-serif;
}

.header {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 10px;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

ul {}

li {
    margin-bottom: 7px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
  }

  .italic {
      font-style: italic;
  }

  li:last-child {
      margin-bottom: 20px;
  }
